<context id="humans_2303" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	
  	<projection type="continuous space" id="space"/>
	<projection type="grid" id="grid"/>
	<projection id="Susceptible Mosquitoes" type="value layer" />
	<projection id="Exposed Mosquitoes" type="value layer" />
	<projection id="Infected Mosquitoes" type="value layer" />
	<projection id="Total Mosquitoes" type="value layer" />
	<projection id="Temperature" type="value layer" />
	<projection id="Type" type="value layer" />
</context>